<nav class="navbar">
    <div class="container">
        <a href="#" class="logo">Logo</a>
        <span class="nav-toggle">&#9776;</span>
        <ul class="nav-links">
            <li><a routerLink="/login" *ngIf="!usuario.role">Log In</a></li>
            <li><a (click)="homeLogin()" style="cursor: pointer;" *ngIf="usuario.role">Inicio</a></li>
            <li><a routerLink="/blog/acerca">Acerca de</a></li>
            <li><a routerLink="/blog">Servicios</a></li>
            <li><a routerLink="/blog">Contacto</a></li>
            <li><a  (click)="reloadPage()" style="cursor: pointer;" *ngIf="usuario.role">Log out</a></li>
        </ul>
    </div>
</nav>
