<div class="px-5 min-h-screen flex justify-content-center align-items-center">


	<!-- <video src="../../../../assets/videos/.mp4"
		autoplay="true"
		muted="true"
		loop="true"
		type="video/mp4"
		style="width: auto; height: 125%; position:fixed; z-index: -1"></video> -->
	<!-- <img src="../../../../assets/login/.jpg"  type="video/mp4" style="width: auto; height: 150%; position:fixed; z-index: -1" /> -->



	<div [formGroup]="formLogin"
		class="border-1 surface-border  border-round py-7 px-4 md:px-7 z-1"
		autocomplete="off"
		style="background-color: rgba(0,0,0,0.2);">

		<div class="mb-4">
			<!-- <img src="../../../../assets/cyber/Logo.png"
				alt="izzi"
				style="width: 25rem; max-width: 100%"> -->
			<div class="text-900 text-xl font-bold mb-2"></div>
			<span class="text-blue-800 text-xl font-bold mb-2" style="margin-left: 2rem;">
				Ingrese sus credenciales
			</span>
		</div>
		<div class="flex flex-column">
			<span class="p-input-icon-left w-full  border-primary-600">
				<i class="pi pi-envelope"></i>
				<input [class]="'w-full md:w-25rem'"
					id="email"
					formControlName="email"
					type="email"
					autocomplete="off"
					pInputText
					placeholder="Email"
					style="background-color: rgba(255, 255, 255,0.3); ">
				<br>

			</span>

      <br>

			<span class="p-input-icon-left w-full  border-primary-600">
				<i class="pi pi-lock"></i>
				<input id="pwd"
					type="password"
					pInputText
					autocomplete="off"
					formControlName="pWd"
					class="w-full md:w-25rem"
					placeholder="Contraseña"
					style="background-color: rgba(8, 128, 207, 0.3); ">
			</span>
			<!-- <div class="mb-4 flex flex-wrap gap-3">
				<div>
					<p-checkbox [binary]="true"
						formControlName="remember"
						name="checkbox"
						value="val"
						styleClass="mr-2"></p-checkbox>
					<label for="checkbox"
						class="text-blue-800  font-medium mr-8">
						Recordar Usuario
					</label>
				</div>
			</div> -->
			<br><br>
			<!-- <button [disabled]="formLogin.invalid" -->
			<button 
				(click)="onSignIn()"
				pButton
				pRipple
				label="Log In"
				class="w-full"
				style="background-color: rgba(28, 128, 207, 1); border: 1px solid"></button>
		</div>


	</div>
</div>

<p-toast
  [baseZIndex]="99999"
  key="tst"></p-toast>
