
img{
    padding-top: 1rem;
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.layout-colorscheme-menu {
    --logo-color: var(#212121);
}

:host ::ng-deep ::-webkit-scrollbar-thumb:vertical {
    background-color: #E80084;
}